@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;

  --color-gray-bg: var(--vscode-editor-background);
  --color-gray-secondry: var(--vscode-sideBar-background);

  --color-purple-primary: var(--vscode-statusBarItem-remoteBackground);
  --color-primary-text: var(--vscode-statusBarItem-remoteForeground);

  --color-gray-subtext: #afafaf;

  --color-white-text: var(--vscode-foreground);

  --color-button-background: var(--vscode-button-background);
  --color-button-foreground: var(--vscode-button-foreground);
}

@layer base {
  body {
    @apply text-white-text bg-gray-bg;
  }
  button {
    @apply cursor-pointer;
  }
  input {
    @apply border-gray-600! placeholder:text-xs placeholder:md:text-sm placeholder:text-gray-400 rounded-md;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-md flex w-full text-center justify-center items-center gap-1 bg-purple-primary text-primary-text py-2 px-2 ml-auto;
  }
}

#date-picker .rdp-root {
  padding: 6px;
  --rdp-accent-color: var(--vscode-statusBarItem-remoteBackground);
  --rdp-accent-background-color: var(--vscode-sideBar-background);

  --rdp-day-height: 33px;
  --rdp-day-width: 33px;

  --rdp-day_button-border: none;
  --rdp-day_button-height: 35px;
  --rdp-day_button-width: 35px;

  --rdp-nav_button-height: 1.1rem;
  --rdp-nav_button-width: 1.1rem;
  --rdp-nav-height: 2rem;

  --rdp-range_start-color: var(--vscode-statusBarItem-remoteForeground);
  --rdp-range_end-color: var(--vscode-statusBarItem-remoteForeground);

  --rdp-weekday-padding: 0.5rem 0rem;
}
#date-picker .rdp-month_caption,
#date-picker .rdp-nav {
  @apply font-medium text-sm;
}

#date-picker .rdp-selected {
  @apply text-sm;
}

#date-picker {
  @apply rounded-md;
}
