/* @import "tailwindcss";

@theme {
  --font-sans: var(--vscode-font-family);
  --color-gray-bg: var(--vscode-editor-background);
  --color-gray-secondry: var(--vscode-tab-inactiveBackground);
  --color-gray-subtext: #afafaf;
  --color-purple-primary: #8687e7;
  --color-red-error: #f5234b;
  --color-green-success: #1ec337;
  --color-yellow-warning: #f5c200;
  --color-white-text: var(--vscode-foreground);
}

@layer base {
  body {
    @apply text-white-text bg-gray-bg;
  }
} */
